body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#summary-content {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    background-color: #912CF6;
    color:white;
}

#toggle-sidebar {
    padding: 6px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#ai-summary-sidebar {
    transition: right 0.5s; 
    /* // Ensures the sliding effect is smooth */
}
